.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #2c2c2c;
  padding: 30px;
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.modal-content img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* CARRUSEL */

.carousel {
  position: relative;
}
.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-controls button {
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}